<?xml version="1.0"?>

<launch>
   <!-- GPS & IMU Sensors  -->
   <!-- <include file="$(find lns_launch)/launch/nav_sensors.launch" />-->

   <!-- Robot localization package  -->
   <include file="$(find lns_navigation)/launch/start_navigation_with_gps_ekf.launch" />

   <!-- Robot navigation  -->
   <include file="$(find lns_navigation)/launch/move_real.launch" />

</launch>


