<?xml version="1.0"?>

<launch>
  <arg name="Kp" default="5.0" doc="Proportional gain"/>
  <arg name="Ki" default="0.0" doc="Integrative gain"/>
  <arg name="Kd" default="0.1" doc="Derivative gain"/>
  <arg name="upper_limit" default="180" doc="Upper limit"/>
  <arg name="lower_limit" default="0" doc="Lower limit"/>
  <arg name="windup_limit" default="10" doc="Windup limit"/>
  <arg name="max_loop_frequency" default="100.0" doc="Max loop frequency"/>
  <arg name="min_loop_frequency" default="10.0" doc="Min loop frequency"/>

  <node name="controller" pkg="steering_pid" type="controller" ns="steering_motors/commands/motor5" output="screen" >
    <param name="node_name" value="steering_pid_motor5" />
    <param name="Kp" value="$(arg Kp)" />
    <param name="Ki" value="$(arg Ki)" />
    <param name="Kd" value="$(arg Kd)" />
    <param name="upper_limit" value="$(arg upper_limit)" />
    <param name="lower_limit" value="$(arg lower_limit)" />
    <param name="windup_limit" value="$(arg windup_limit)" />
    <param name="max_loop_frequency" value="$(arg max_loop_frequency)" />
    <param name="min_loop_frequency" value="$(arg min_loop_frequency)" />
  </node>


  <node name="controller" pkg="steering_pid" type="controller" ns="steering_motors/commands/motor6" output="screen" >
    <param name="node_name" value="steering_pid_motor6" />
    <param name="Kp" value="$(arg Kp)" />
    <param name="Ki" value="0.0" />
    <param name="Kd" value="0.1" />
    <param name="upper_limit" value="$(arg upper_limit)" />
    <param name="lower_limit" value="$(arg lower_limit)" />
    <param name="windup_limit" value="$(arg windup_limit)" />
    <param name="max_loop_frequency" value="$(arg max_loop_frequency)" />
    <param name="min_loop_frequency" value="$(arg min_loop_frequency)" />
  </node>


  <node name="controller" pkg="steering_pid" type="controller" ns="steering_motors/commands/motor7" output="screen" >
    <param name="node_name" value="steering_pid_motor7" />
    <param name="Kp" value="$(arg Kp)" />
    <param name="Ki" value="0.0" />
    <param name="Kd" value="0.1" />
    <param name="upper_limit" value="$(arg upper_limit)" />
    <param name="lower_limit" value="$(arg lower_limit)" />
    <param name="windup_limit" value="$(arg windup_limit)" />
    <param name="max_loop_frequency" value="$(arg max_loop_frequency)" />
    <param name="min_loop_frequency" value="$(arg min_loop_frequency)" />
  </node>


  <node name="controller" pkg="steering_pid" type="controller" ns="steering_motors/commands/motor8" output="screen" >
    <param name="node_name" value="steering_pid_motor8" />
    <param name="Kp" value="$(arg Kp)" />
    <param name="Ki" value="0.0" />
    <param name="Kd" value="0.1" />
    <param name="upper_limit" value="$(arg upper_limit)" />
    <param name="lower_limit" value="$(arg lower_limit)" />
    <param name="windup_limit" value="$(arg windup_limit)" />
    <param name="max_loop_frequency" value="$(arg max_loop_frequency)" />
    <param name="min_loop_frequency" value="$(arg min_loop_frequency)" />
  </node>


    <!--Node for setting the feedback topics-->
    <!--<include file="$(find steering_pid)/launch/remap_node.launch" />-->

</launch>