<?xml version="1.0"?>
<robot name="lns_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">


  <transmission name="front_left_steering_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="steering_fl_joint">
    <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
    <actuator name="front_left_steering_motor">
    <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    <mechanicalReduction>30</mechanicalReduction>
      </actuator>
  </transmission>

  <transmission name="front_right_steering_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="steering_fr_joint">
    <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
    <actuator name="front_right_steering_motor">
    <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    <mechanicalReduction>30</mechanicalReduction>
      </actuator>
  </transmission>

    <transmission name="back_left_steering_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="steering_bl_joint">
    <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
    <actuator name="back_left_steering_motor">
    <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    <mechanicalReduction>30</mechanicalReduction>
      </actuator>
  </transmission>

    <transmission name="back_right_steering_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="steering_br_joint">
    <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
    <actuator name="back_right_steering_motor">
    <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    <mechanicalReduction>30</mechanicalReduction>
      </actuator>
  </transmission>

    <transmission name="front_left_wheel_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="wheel_fl_joint">
    <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      </joint>
    <actuator name="front_left_wheel_motor">
    <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
      </actuator>
  </transmission>
  
      <transmission name="front_right_wheel_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="wheel_fr_joint">
    <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      </joint>
    <actuator name="front_right_wheel_motor">
    <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
      </actuator>
  </transmission>

      <transmission name="back_left_wheel_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="wheel_bl_joint">
    <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      </joint>
    <actuator name="back_left_wheel_motor">
    <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
      </actuator>
  </transmission>

      <transmission name="back_right_wheel_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="wheel_br_joint">
    <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      </joint>
    <actuator name="back_right_wheel_motor">
    <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
      </actuator>
  </transmission>


</robot>
 