<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="lns_robot" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Gazebo references -->

<gazebo reference="base_link">
  <mu1 value="0.1"/>
  <mu2 value="0.1"/>
  <!-- <kp  value="10000000.0" />
  <kd  value="1.0" /> -->
  <material>Gazebo/White</material>
</gazebo>

  <gazebo reference="steering_fl_link">
    <!-- <selfCollide>false</selfCollide> -->
      <mu1 value="0.5" />
      <mu2 value="0.5" />
     <material>Gazebo/Grey</material>
    </gazebo>

  <gazebo reference="steering_fr_link">
    <!-- <selfCollide>false</selfCollide> -->
      <mu1 value="0.5" />
      <mu2 value="0.5" />
      <material>Gazebo/Grey</material>
    </gazebo>
  
    <gazebo reference="steering_bl_link">
    <!-- <selfCollide>false</selfCollide> -->
      <mu1 value="1.5" />
      <mu2 value="1.5" />
      <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="steering_br_link">
    <!-- <selfCollide>false</selfCollide> -->
      <mu1 value="1.5" />
      <mu2 value="1.5" />
      <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="wheel_fl_link">
      <!-- <selfCollide>false</selfCollide> -->
      <mu1>0.8</mu1>
      <mu2>0.8</mu2>
      <kp>10000000.0</kp>
      <kd>1.0</kd>
      <minDepth>0.001</minDepth>
      <maxVel>0.1</maxVel>
      <fdir1>1 0 0</fdir1>
      <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="wheel_fr_link">
      <!-- <selfCollide>false</selfCollide> -->
      <mu1>0.8</mu1>
      <mu2>0.8</mu2>
      <kp>10000000.0</kp>
      <kd>1.0</kd>
      <minDepth>0.001</minDepth>
      <maxVel>0.1</maxVel>
      <fdir1>1 0 0</fdir1>
      <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="wheel_bl_link">
      <!-- <selfCollide>false</selfCollide> -->
      <mu1>0.8</mu1>
      <mu2>0.8</mu2>
      <kp>10000000.0</kp>
      <kd>1.0</kd>
      <minDepth>0.001</minDepth>
      <maxVel>0.1</maxVel>
      <fdir1>1 0 0</fdir1>
      <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="wheel_br_link">
      <!-- <selfCollide>false</selfCollide> -->
      <mu1>0.8</mu1>
      <mu2>0.8</mu2>
      <kp>10000000.0</kp>
      <kd>1.0</kd>
      <minDepth>0.001</minDepth>
      <maxVel>0.1</maxVel>
      <fdir1>1 0 0</fdir1>
      <material>Gazebo/Grey</material>
    </gazebo>


  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
    </plugin>
  </gazebo>


  <gazebo>
      <plugin name="gazebo_ros_gps" filename="libhector_gazebo_ros_gps.so">
          <updateRate>4.0</updateRate>
          <bodyName>gps_link</bodyName>
          <frameId>gps_link</frameId>
          <topicName>/fix</topicName>
          <velocityTopicName>/fix_velocity</velocityTopicName>
          <referenceLatitude>35.175046058333336</referenceLatitude>
          <referenceLongitude>126.89969593166667</referenceLongitude>
          <referenceHeading>90</referenceHeading>
          <referenceAltitude>10</referenceAltitude>
          <offset>0 0 0</offset>
          <drift>0.000 0.000 0.000</drift>
          <gaussianNoise>0.00 0.00 0.00</gaussianNoise>
          <velocityDrift>0.000 0.000 0.000</velocityDrift>
          <velocityGaussianNoise>0.0 0.0 0.0</velocityGaussianNoise>
<!--                <drift>0.001 0.001 0.001</drift>-->
<!--                <gaussianNoise>0.01 0.01 0.01</gaussianNoise>-->
<!--                <velocityDrift>0 0 0</velocityDrift>-->
<!--                <velocityGaussianNoise>0.05 0.05 0.05</velocityGaussianNoise>-->
      </plugin>
  </gazebo>


    <gazebo>
        <plugin name="imu_plugin" filename="libgazebo_ros_imu.so">
          <alwaysOn>true</alwaysOn>
          <bodyName>imu_link</bodyName>
          <frameName>imu_link</frameName>
          <frameId>imu_link</frameId>
          <topicName>imu/data</topicName>
          <serviceName>imu_service</serviceName>
          <gaussianNoise>0.0</gaussianNoise>
          <updateRate>100.0</updateRate>
        </plugin>
    </gazebo>



</robot>