<?xml version="1.0"?>

<launch>
  <arg name="Kp" default="300.0" doc="Proportional gain"/>
  <arg name="Ki" default="300.0" doc="Integrative gain"/>
  <arg name="Kd" default="51.0" doc="Derivative gain"/>
  <arg name="upper_limit" default="300" doc="Upper limit"/>
  <arg name="lower_limit" default="-300" doc="Lower limit"/>
  <arg name="windup_limit" default="1.5" doc="Windup limit"/>
  <arg name="max_loop_frequency" default="100.0" doc="Max loop frequency"/>
  <arg name="min_loop_frequency" default="100.0" doc="Min loop frequency"/>

  <node name="controller" pkg="steering_pid" type="controller" ns="steering_motors/pid/motor5" output="screen" >
    <param name="node_name" value="steering_pid_motor5" />
    <param name="Kp" value="200.0" />
    <param name="Ki" value="207.0" />
    <param name="Kd" value="2.5" />
    <param name="upper_limit" value="$(arg upper_limit)" />
    <param name="lower_limit" value="$(arg lower_limit)" />
    <param name="windup_limit" value="$(arg windup_limit)" />
    <param name="max_loop_frequency" value="$(arg max_loop_frequency)" />
    <param name="min_loop_frequency" value="$(arg min_loop_frequency)" />
  </node>


  <node name="controller" pkg="steering_pid" type="controller" ns="steering_motors/pid/motor6" output="screen" >
    <param name="node_name" value="steering_pid_motor6" />
    <param name="Kp" value="200" />
    <param name="Ki" value="300" />
    <param name="Kd" value="15" />
    <param name="upper_limit" value="$(arg upper_limit)" />
    <param name="lower_limit" value="$(arg lower_limit)" />
    <param name="windup_limit" value="$(arg windup_limit)" />
    <param name="max_loop_frequency" value="$(arg max_loop_frequency)" />
    <param name="min_loop_frequency" value="$(arg min_loop_frequency)" />
  </node>


  <node name="controller" pkg="steering_pid" type="controller" ns="steering_motors/pid/motor7" output="screen" >
    <param name="node_name" value="steering_pid_motor7" />
    <param name="Kp" value="200" />
    <param name="Ki" value="300" />
    <param name="Kd" value="20" />
    <param name="upper_limit" value="$(arg upper_limit)" />
    <param name="lower_limit" value="$(arg lower_limit)" />
    <param name="windup_limit" value="$(arg windup_limit)" />
    <param name="max_loop_frequency" value="$(arg max_loop_frequency)" />
    <param name="min_loop_frequency" value="$(arg min_loop_frequency)" />
  </node>


  <node name="controller" pkg="steering_pid" type="controller" ns="steering_motors/pid/motor8" output="screen" >
    <param name="node_name" value="steering_pid_motor8" />
    <param name="Kp" value="220.0" />
    <param name="Ki" value="250.0" />
    <param name="Kd" value="20" />
    <param name="upper_limit" value="$(arg upper_limit)" />
    <param name="lower_limit" value="$(arg lower_limit)" />
    <param name="windup_limit" value="$(arg windup_limit)" />
    <param name="max_loop_frequency" value="$(arg max_loop_frequency)" />
    <param name="min_loop_frequency" value="$(arg min_loop_frequency)" />
  </node>


    <!--Node for setting the feedback topics-->
    <!--<include file="$(find steering_pid)/launch/remap_node.launch" />-->

</launch>