<?xml version="1.0"?>

<launch>
   <!-- Main Controller  -->
   <node pkg="lns_controller" type="main_controller" name="main_controller"  output="screen"/>


   <!-- Load joint controller configurations from YAML file to parameter server -->
   <rosparam file="$(find lns_controller)/config/controller.yaml" command="load"/>

   <!-- load the controllers -->
   <node 
      name="controller_spawner" 
      pkg="controller_manager" 
      type="spawner" respawn="false"
      output="screen" 
      args="joint_state_controller steering_fl_position_controller steering_fr_position_controller steering_br_position_controller steering_bl_position_controller wheel_fl_velocity_controller wheel_fr_velocity_controller wheel_br_velocity_controller wheel_bl_velocity_controller">
   </node>


   <!-- convert joint states to TF transforms for rviz, etc -->
   <node 
      name="robot_state_publisher" 
      pkg="robot_state_publisher" 
      type="robot_state_publisher"
      respawn="false" 
      output="screen">
   </node>

   <!-- Remap  -->
   <node pkg="lns_controller" type="sim_remap.py" name="sim_remap"  output="screen"/>


</launch>


